footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    border-top: 1px solid rgba(151, 161, 167, 0.25);
}

@media (max-width: 1024px) {
    footer {
        flex-direction: column;
        padding: 18px;
        align-items: start;
        gap: 6px;
    }
}