#contact {
    width: calc(100vw - 24px - 24px);
    padding: 96px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#contact-info-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px;
}

#contact-info-left-top-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#contact-info-left-div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#contact-info-right-div {
    width: 50%;
}

#contact-info-left-bottom-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#contact-form {
    width: calc(100% - 48px - 48px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 48px;
    padding: 48px;
    background: #1E2022;
    color: #C9D6DF;
}

#radio-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #97A1A7;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #97A1A7;
}

.custom-radio-box {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #97A1A7;
    margin-right: 12px;
    display: inline-block;
    position: relative;
}

.custom-radio input[type="radio"]:checked + .custom-radio-box {
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

.custom-radio input[type="radio"]:checked + .custom-radio-box::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #1E2022;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"], input[type="tel"], input[type="email"] {
    width: 100%;
    padding: 8px 0;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #C9D6DF;
    border-bottom: 3px solid #C9D6DF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus {
    border-color: #C9D6DF;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

input::placeholder {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #97A1A7;
}

input:invalid {
    border-color: #ff6b6b;
    background-color: rgba(0, 0, 0, 0);
}

select {
    width: 100%;
    padding: 8px 0;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #C9D6DF;
    border-bottom: 3px solid #C9D6DF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    appearance: none;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg"><path d="M7 1V15M7 15L13 9M7 15L1 9" stroke="%23C9D6DF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px 16px;
}

select::-ms-expand {
    display: none;
}

select:focus {
    border-color: #C9D6DF;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

option {
    color: #C9D6DF;
    background-color: #1E2022;
    font-size: 24px;
}

#success-message {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5FEF3F;
    color: #1E2022;
    padding: 24px;
    border-radius: 24px;
    opacity: 0;
    transition: all 0.5s ease;
}

#success-message.show {
    bottom: 24px;
    opacity: 1;
}

#success-message.hidden {
    bottom: -100px;
    opacity: 0;
}


@media (max-width: 1024px) {
    #contact {
        width: calc(100vw - 18px - 18px);
        padding: 72px 18px 18px 18px;
        gap: 36px;
    }

    #contact-info-left-top-div{
        gap: 18px;
    }

    #contact-info-left-bottom-div{
        gap: 12px;
    }

    #contact-form {
        width: calc(100% - 36px - 36px);
        gap: 18px;
        border-radius: 36px;
        padding: 36px;
    }

    .custom-radio {
        font-size: 22px;
    }

    .custom-radio-box {
        width: 12px;
        height: 12px;
        border: 3px solid #97A1A7;
        margin-right: 8px;
    }

    .custom-radio input[type="radio"]:checked + .custom-radio-box::after {
        width: 6px;
        height: 6px;
    }

    input[type="text"], input[type="tel"], input[type="email"] {
        padding: 6px 0;
        font-size: 22px;
        border-bottom: 3px solid #C9D6DF;
    }

    input::placeholder {
        font-size: 22px;
    }

    select {
        padding: 6px 0;
        font-size: 22px;
        border-bottom: 3px solid #C9D6DF;
    }

    option {
        font-size: 22px;
    }

    #success-message {
        padding: 22px;
        border-radius: 22px;
        width: 80%;
    }
}

@media (max-width: 767px) {
    #contact-info-div {
        flex-direction: column;
        gap: 24px;
    }

    #contact-info-right-div {
        width: 100%;
    }

    #contact-info-left-top-div{
        gap: 18px;
    }

    #contact-info-left-bottom-div{
        width: 100%;
        gap: 12px;
    }

    #contact-info-left-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 24px;
    }

    #contact-form {
        width: calc(100% - 24px - 24px);
        gap: 18px;
        border-radius: 24px;
        padding: 24px;
    }

    .custom-radio {
        font-size: 18px;
    }

    .custom-radio-box {
        width: 12px;
        height: 12px;
        border: 3px solid #97A1A7;
        margin-right: 8px;
    }

    .custom-radio input[type="radio"]:checked + .custom-radio-box::after {
        width: 6px;
        height: 6px;
    }

    input[type="text"], input[type="tel"], input[type="email"] {
        padding: 4px 0;
        font-size: 18px;
        border-bottom: 3px solid #C9D6DF;
    }

    input::placeholder {
        font-size: 18px;
    }

    select {
        padding: 4px 0;
        font-size: 18px;
        border-bottom: 3px solid #C9D6DF;
    }

    option {
        font-size: 18px;
    }

    #success-message {
        padding: 18px;
        border-radius: 18px;
    }
}